body {
  margin: 0px;
}

.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 22px;
}
.text-lg {
  font-size: 36px;
}
.text-xl {
  font-size: 54px;
}

.bold {
  font-weight: 700;
}
.italic {
  text-transform: italic;
}
.uppercase {
  text-transform: uppercase;
}